body {
	font-family: sans-serif;
	width:80%;
	margin:auto;
}

h1 {
	color:#0505a3;
	background-color:rgba(178, 178, 248, 0.751);
	text-align: center;
	margin:30px;
	margin-top: 30;
	margin-bottom: 0; 
	padding: 3px;
}

#qualificacao {
	text-align: center;
	margin-top:0;
}

h2 {
	color:#0505a3;
	background-color:#ccc;
	padding-left: 10px;
	border-bottom: 3px solid;
	margin-top: 30px;
}

p {
	text-align: left;
	
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
